@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Otterco", serif;
  }
}

@font-face {
  font-family: "Otterco";
  src: url("/fonts/Fontspring-DEMO-ottercodisplay-medium.otf")
    format("woff2");
}

.symbol {
  font-family: sans-serif;
}

.background {
  background-image: linear-gradient(
      rgba(240, 242, 245, .5),
      rgba(240, 242, 245, .5)
    ),
    url("./assets/images/bg.jpg");
  background-size: cover;
  background-position: center;
}

.outlined-text {
  /* font-weight: bold; */
  color: transparent;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
}

.test li::marker {
  color: rgb(41, 39, 39);
}

.animate__animated.animate__flipInX {
  --animate-duration: 2s;
}